<div class="footer-middle">
    <div class="footer-middle-left">
        <div class="middle-right">
            <img src="~/img/logo2.png" class="footer-logo">
            <a href="tel:0 850 455 30 05" class="btn middle-link aos-init aos-animate" data-aos="zoom-in" data-aos-duration="1000">
                <div class="middle-link-box">
                    <span class="middle-link-img">
                        <img class="social-icon" src="~/img/whatsapp.png">
                    </span>
                    <p class="middle-link-group">
                        <span class="title1">
                            0 850 455 30 05
                        </span>
                        <span class="title2">
                            WhatsApp Hattı
                        </span>
                    </p>
                </div>
            </a>
            <a href="tel:0 850 455 30 05" class="btn middle-link aos-init aos-animate" data-aos="zoom-in" data-aos-duration="1000">
                <div class="middle-link-box">
                    <span class="middle-link-img">
                        <img class="social-icon" src="~/img/destek.png">
                    </span>
                    <p class="middle-link-group">
                        <span class="title1">
                            0 850 455 30 05
                        </span>
                        <span class="title2">
                            7+24 Destek Hattı
                        </span>
                    </p>
                </div>
            </a><a href="mailto:info@biziminternet.com.tr" class="btn middle-link aos-init aos-animate" data-aos="zoom-in" data-aos-duration="1000">
                <div class="middle-link-box">
                    <span class="middle-link-img">
                        <img class="social-icon" src="~/img/email.png">
                    </span>
                    <p class="middle-link-group">
                        <span class="title1">
                            info@biziminternet.com.tr
                        </span>
                        <span class="title2">
                            7+24 Destek
                        </span>
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>