
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="~/css/Style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        @Html.Partial("_MenuBar")
    </nav>
    <div class="container mt-3 table-responsive">
        @RenderBody()
    </div>
    <footer class="footer-container">
        @Html.Partial("_FooterBar")
    </footer>
</body>
</html>

<script>
    $(document).ready(function () {
        $("#search").keyup(function () {
            var data = this.value.split(" ");
            var table = $(".table").find("tr");

            if (this.value == "") {
                table.show();
                return;
            }

            table.hide();
            table.filter(function (i, v) {
                var $t = $(this);
                for (var d = 0; d < data.length; ++d) {
                    if ($t.is(":contains('" + data[d] + "')")) {
                        return true;
                    }
                }
            }).show();
        });
    });
</script>